@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
    @font-face {
      font-family: Overpass;
      font-style: normal;
      font-weight: 400;
      src: url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
    }
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
  height: 100%;
}

.box-weather::-webkit-scrollbar {
  width: 8px;
}

.box-weather::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.box-weather::-webkit-scrollbar-track {
  background: none;
  border: 1px solid #fff;
  border-radius: 10px;
}

.item-weather:hover {
  background-color: #6cbcec;
  border-radius: 10px;
  border: 1px solid rgba(204, 204, 204, 0.925);
}